.container {
    margin: auto;
    text-align: center;
    padding-top:1px;
}

.section {
    height: 100vh;
    overflow: hidden;
}

.section1 {
    
    height: 100vh;
    /* background-color: pink; */
    background-image: url(https://media.giphy.com/media/xT8qB7FGjYcByUIDdu/giphy.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

/**********  ul  *************/

.pure-menu {
    /*padding: 2em 0;*/
    background-color: #fff;
    /*background-color: rgba(255,255,255,0.5);*/
    /*opacity: 0.5;*/
    position: fixed;
    top:0;
    left: 0;
    z-index: 100;
}



.pure-menu-link {
    color: black;
    padding: 0.2em 1em;

}

.pure-menu-link:before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    width: 0;
    height: 100%;
    border-bottom: 2px solid #FF097D;
    transition: 0.3s all ease-in-out;
}
.pure-menu-link:hover {
    color: #FF097D;
    background-color:rgba(0,0,0,0);
    
}
.pure-menu-link:hover:before{
    color: #FF097D;
    width: 100%;
}






/**********  li  *************/

.pure-menu-item {
    margin: 0 2em;
    z-index: 1;
}
.pure-menu-item img {
    width: 7em;
}


.message {
    padding: 23em 0;
}
.message h1 {
    font-size: 4em;
    margin: 0;
}
.message p {
    color: white;
    margin-bottom: 5em;
    font-size: 1.2em;
}
.message a {
    padding: 1.4em 2em;
    background-color: black;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    box-shadow: 0px 0px 30px -19px rgba(0,0,0,0.68);
}




/********* section2 ***********/
.section2{
    background-color: #fff;
    /*height: 80vh;*/
    position: relative;

}


.section2 .text-box {
    border: 10px black solid;
    background-color: white;
    padding: 0 3em;
    width: 20em;
    height: 22em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition:all ease 2s;

}
.invisible{
    opacity: 0;
}

.section2 .text-box p {
    margin-bottom: 2.3em;
}

.section2 .text-box a {
    text-decoration: none;
    color: #fff;
    background-color: black;
    padding: 1.3em;
}


.section2 .viewport{
    position: relative;
    overflow: hidden;
    height: 100vh;
    /*background-image:linear-gradient(#296F9C,#17081B);*/
    perspective: 50vw;
}

.section2 .layer{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-position:bottom center;
    background-repeat: no-repeat;
    background-size:cover;
    box-sizing:border-box;
}

.layer0 {
    background-image: url(1.png);
    animation: first 6s ease infinite alternate;
}
.layer1 {
    background-image: url(2.png);
    animation: first 5s ease infinite alternate;
}
.layer2 {
    background-image: url(3.png);
    animation: first 8s ease infinite alternate;
}
.layer3 {
    background-image: url(4.png);
    animation: first 10s ease infinite alternate;
}
.layer4 {
    background-image: url(5.png);
    animation: first 12s ease infinite alternate;
}
/*.layer5 {
    background-image: url(7.png);
}*/



/************* section3 *************/
.section3{
     background-color: white; 
    height: 80vh;
    border: 10px black solid;

}

@keyframes first{

    0%   { 
        transform: translateY(-2vw,0);
    }
    50% { 
        transform: translate(2vw,0);
    }
    100% { 
        transform: translateX(-2vw,0);
    }

}
@keyframes second{

    0%   { 
        transform: translateY(-2vw,0);
    }
    100% { 
        transform: translateY(2vw,0);
    }

}


.section3 h1 {
    font-size: 5em;
    /*animation: hovering 2s ease infinite alternate;*/
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    /*background-color: pink;*/
    justify-content: center;
    /*margin-top: 3em;*/
    padding: 0 3em;
}

.flex-container div {
    width: 202px;
    height: 202px;
    margin: 10px;
    line-height: 75px;
    overflow: hidden;
}

.flex-container img {
    width: 100%;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}

.popup a {
    padding: 3em;
    background-color: red;

}
.popup img {
    display: block;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}





/* section4 */
.section4{
    background-color: lightgray;
    height: 90vh;
}

















